# Data Wrangling
This chapter gives an overview of the most important data manipulation functions used throughout this book.

It is a fact that the data import and manipulation part of analyses often takes more time than the actual analysis or visualization itself. This is because the exchange data formats are not standardized and meters and sensors record at different time intervals. Data quality, missing data, data imputation and data cleansing also play a major role.

In [4]:
# Load data set

import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/retomarek/edap/main/edap/sampleData/flatTempHum.csv",
                 sep = ";")
df.head()

,time,FlatA_Hum,FlatA_Temp,FlatB_Hum,FlatB_Temp,FlatC_Hum,FlatC_Temp,FlatD_Hum,FlatD_Temp
0,2018-10-03 00:00:00,53.0,24.43,38.8,22.40,44.0,24.5,49.0,24.43
1,2018-10-03 01:00:00,53.0,24.40,38.8,22.40,44.0,24.5,49.0,24.40
2,2018-10-03 02:00:00,53.0,24.40,39.3,22.40,44.7,24.5,48.3,24.38
3,2018-10-03 03:00:00,53.0,24.40,40.3,22.40,45.0,24.5,48.0,24.33
4,2018-10-03 04:00:00,53.3,24.40,41.0,22.37,45.2,24.5,47.7,24.30

## Access Data

In [6]:
df["FlatA_Temp"]

0        24.43
1        24.40
2        24.40
3        24.40
4        24.40
         ...
17176      NaN
17177      NaN
17178      NaN
17179      NaN
17180      NaN
Name: FlatA_Temp, Length: 17181, dtype: float64

```{note}
A Series is returned!
```

In [7]:
df[["FlatA_Temp", "FlatA_Hum"]]

       FlatA_Temp  FlatA_Hum
0           24.43       53.0
1           24.40       53.0
2           24.40       53.0
3           24.40       53.0
4           24.40       53.3
...           ...        ...
17176         NaN        NaN
17177         NaN        NaN
17178         NaN        NaN
17179         NaN        NaN
17180         NaN        NaN

[17181 rows x 2 columns]

```{note}
A Dataframe is returned!
```

## Column Names

In [10]:
df.columns

Index(['time', 'FlatA_Hum', 'FlatA_Temp', 'FlatB_Hum', 'FlatB_Temp',
       'FlatC_Hum', 'FlatC_Temp', 'FlatD_Hum', 'FlatD_Temp'],
      dtype='object')

##  Add Metadata for later filtering