# Loading Data

This chapter introduces two functions that can be used to load data from csv- and Excel-files.

## csv-Files
Load data from comma separated files

In [7]:
import pandas as pd

df = pd.read_csv("https://github.com/hslu-ige-laes/edar/raw/master/sampleData/flatElectricity.csv", sep = ";")
df.head()

                  time  FlatA_Ele  FlatB_Ele  FlatC_Ele  FlatD_Ele
0  2018-11-30 23:45:00   5619.889   7246.254   5125.006   8387.030
1  2018-12-01 00:00:00   5619.904   7246.551   5125.039   8387.085
2  2018-12-01 00:15:00   5619.929   7246.753   5125.077   8387.137
3  2018-12-01 00:30:00   5619.952   7246.933   5125.117   8387.181
4  2018-12-01 00:45:00   5619.973   7247.005   5125.153   8387.222